<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/umbparking"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/umbparking_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkingManager"
        android:name=".GlobalData"
        tools:targetApi="31">
        <activity
            android:name=".HamburgerMenuActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <!--android:theme="@style/Theme.ParkingManager"-->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParkingPassPurchaseActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents">

        </activity>
        <activity
            android:name=".PurchaseConfirmationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents">

        </activity>
        <activity
            android:name=".CheckoutActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents">

        </activity>
        <activity
            android:name=".PurchaseHistoryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents">

        </activity>
        <activity
            android:name=".ViewParkingPassActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents">

        </activity>
        <activity
            android:name=".CreateParkingCitationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents">

        </activity>

    </application>

</manifest>